html{
    background-color: #0b1220;
    margin: 0;
    color :#fff;
}

body{
    display: grid;
    margin: 0;
    background-color: blueviolet;
    grid-template-rows: 300px repeat(3,1fr) ;
    grid-template-columns: repeat(2,1fr);
    
}

header{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: green;
    grid-template-rows: repeat(5,1fr) ;
    grid-template-columns: repeat(1,1fr);
}

h1{
    margin: 50px 0 0 200px;
    display: grid;
    grid-row: 1/-1;
    grid-column: 1/-1;
}

header h2{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/-1;
}

nav{
    display: grid;
    grid-row: 1/-1;
    grid-column: 2/-1;
    justify-content: end;
}

form{
    display: grid;
    grid-row: 4/5;
    grid-column: 1/-1;
    grid-auto-flow: column;
    justify-content: center;
}

form p{
    align-self: start;
}

img{
    width: 400px;
}


/*main{
    display: grid;
    background-color: aqua;
    grid-row: 2/-1;
    grid-column: 1/-1;
}

div.afficher_offre{
    background-color: white;
    display: grid;
    grid-row: 3/-1;
    grid-column: 1/-1 ;
}

div#offre1{
    background-color: red;
    grid-row: 1/2;
    grid-column: 1/2;
}

div#offre2{
    background-color: red;
    grid-row: 2/-1;
    grid-column: 2/-1;
}