html{
    background-color: #0b1220;
    margin: 0;
    color :#fff;
    text-decoration: none;
}

body{
    display: grid;
    margin: 0;
    grid-template-rows: 300px repeat(3,1fr) ;
    grid-template-columns: repeat(1,1fr);
    
}

header{
    display: grid;
    grid-row: 1/2;
    grid-column: 1/-1;
    grid-template-rows: repeat(5,1fr) ;
    grid-template-columns: repeat(1,1fr);
}

h1{
    margin: 50px 0 0 200px;
    display: grid;
    grid-row: 1/-1;
    grid-column: 1/-1;
    width: 125%;
}

header h2{
    margin: 25px 0 0 150px;
    display: grid;
    grid-row: 2/3;
    grid-column: 1/-1;
}

nav{
    display: grid;
    grid-row: 1/-1;
    grid-column: 2/-1;
    justify-content: end;
}

form{
    display: grid;
    grid-row: 4/5;
    grid-column: 1/-1;
    grid-auto-flow: column;
}

form input{
    width: 50%;
}

img{
    width: 500px;
}

a{
    text-decoration: none;
    color: white;
}

div.afficher_offre{
    margin: 50px 0 0 150px;
    display: grid;
    grid-row: 3/-1;
    grid-column: 1/-1 ;
}

div p{
    margin: 0 100px 0 100px;

    grid-row: 1/2;
    grid-column: 2/3;
}